# dependencies
node_modules/
.pnpm-store/

# build output
dist/
build/
.next/
out/
*.tsbuildinfo

# turborepo
.turbo/

# env
.env
.env.local
.env.*.local

# testing
coverage/

# logs
*.log
npm-debug.log*
pnpm-debug.log*

# editors / os
.DS_Store
.idea/
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json

# vercel
.vercel
